<!DOCTYPE html>
<html>
	{% include 'head.html' %}
	<body>
		<header class="x-container x-padding">
			<div class="x-row">
			</div>
			<h3 class="x-row x-text-blue">SMS Management</i>
				<span class="fa fa-check-square-o"></span>
			</h3>
			<div class="x-row">
				<span class="dox_menu x-text-grey x-small" onclick="show_view('dash_view')"> Dashboard (RFR / Fullblown) </span> | 
				<span class="dox_menu x-text-grey x-small" onclick="show_view('search_view')"> Search Documents </span> |
				<span class="dox_menu x-text-grey x-small" onclick=""> Upload </span> |
			</div>
		</header>
		<div id="sms_content" class="x-padding">
			<hr>
		</div>
	</body>
</html>