	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../static/css/w3.css">
		<link rel="stylesheet" href="../static/css/css">
		<link rel="stylesheet" href="../static/css/font-awesome.min.css">
		<link rel="icon" href="../static/img/icon.png">
		<style>
			body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
			body{/*background-color: rgb(49, 51, 50);*/}
			body {font-size: 16px;}
			img {margin-bottom: -8px;}
			.mySlides {display: none;}
			.dox_menu{cursor: pointer;}
		</style>
	</head>
	<script async="" src="../static/js/analytics.js"></script>
	<script src="../static/js/Chart.min.js"></script>
	<script src="../static/js/utils.js"></script>

	<script type="text/javascript" src="../static/js/Bornicles.js"></script>
